div.blog {
  display: flex;
  gap: 2rem;
}

aside.table-of-contents {
  position: sticky;
  top: 5rem;
  left: 0;
  width: 15%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

div.blog-content {
  max-width: 85%;
}

h2 a[id],
h3 a[id] {
  scroll-margin-top: 2rem;
}

button.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
