div.blog {
  display: flex;
  gap: 2rem;
}

aside.table-of-contents {
  position: sticky;
  top: 15rem;
  left: 0;
  width: 10rem;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

div.blog-content {
  max-width: 85%;
}

h2,
h3,
h4,
h5 {
  scroll-margin-top: 2rem;
}

button.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
