ul.blog-list {
  list-style: none;
  padding-left: 0;
}

ul.blog-list li {
  font-family: var(--font-mono);
  margin-bottom: 0.5rem;
}

ul.blog-list li::before {
  content: none !important;
}

ul.blog-list li span.log-date {
  color: var(--pico-secondary);
}

ul.blog-list li span.log-divider {
  color: var(--pico-border-color);
}
