:root {
  --font-mono: "Fira Mono", monospace;
  --font-sans: "Fira Sans", sans-serif;

  --pico-font-family: var(--font-mono);
  --pico-font-family-monospace: var(--font-mono);
}

body,
button,
input,
select,
textarea,
nav,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}

html {
  scroll-behavior: smooth;
}

article,
button,
input,
select,
textarea,
pre,
code {
  border-radius: 0 !important;
}

[data-tooltip] {
  --pico-border-radius: 0 !important;
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  background-color: var(--pico-primary);
  z-index: 9999;
  transition: width 0.1s ease-out;
}

h1::before {
  content: "$ ";
  color: var(--pico-primary);
  font-weight: bold;
}

ul {
  list-style: none !important;
  padding-left: 0 !important;
}
ul li {
  list-style: none !important;
  list-style-type: none !important;
}
ul li::marker {
  content: none !important;
}

ul li::before {
  content: "→ ";
  color: var(--pico-primary);
  margin-right: 0.5rem;
}

nav ul li::before,
ul.system-log-list li::before {
  content: none !important;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.terminal-cursor::after {
  content: "▋";
  color: var(--pico-primary);
  animation: blink 1s infinite;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  display: inline-block;
  vertical-align: middle;
}

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.12) 50%);
  background-size: 100% 4px;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.4;
}
