:root {
  --font-mono: "Fira Mono", monospace;
  --font-sans: "Fira Sans", sans-serif;

  --pico-font-family: var(--font-mono);
  --pico-font-family-monospace: var(--font-mono);
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
select,
textarea,
nav,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}

article,
button,
input,
select,
textarea,
pre,
code {
  border-radius: 0 !important;
}

[data-tooltip] {
  --pico-border-radius: 0 !important;
}

ul {
  list-style: none !important;
  padding-left: 0 !important;
}

ul li {
  list-style: none !important;
  list-style-type: none !important;
}

ul li::marker {
  content: none !important;
}

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.12) 50%);
  background-size: 100% 4px;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.45;
}

[data-theme="light"] body::before {
  opacity: 0.15;
}

h1::before {
  content: "$ ";
  color: var(--pico-primary);
  font-weight: bold;
}

ul li::before {
  content: "→ ";
  color: var(--pico-primary);
  margin-right: 0.5rem;
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  background-color: var(--pico-primary);
  z-index: 9999;
  transition: width 0.1s ease-out;
}

nav ul li::before {
  content: none !important;
}

nav ul li a.active-nav-link {
  background-color: var(--pico-contrast-background) !important;
  color: var(--pico-contrast-inverse) !important;
  font-weight: bold;
  padding: 0 0.5rem !important;
  text-decoration: none !important;
  border-radius: 0 !important;
}

nav ul li a.outline,
nav ul li button.outline {
  border: none !important;
  padding: 0 0.5rem !important;
  margin: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}
